.notion-page-icon {
  user-select: none;
}

.notion-header .notion-search-button {
  flex-grow: 1;
  max-width: 200px;
  justify-content: start;
}

.notion-link {
  border-bottom-width: 1px;
}

/**
 * Table of contents styling improvements
 */
.notion-aside-table-of-contents-header {
  align-self: start;
  text-transform: none;
  user-select: none;
}
.notion-table-of-contents-item-body {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notion-aside-table-of-contents .notion-table-of-contents-item {
  line-height: 15px /* Avoid overflow-y cutting off the text */;
}
/**
 * Turn links with background colors into cool buttons!
 *
 * In Notion: first, apply the background color, then apply the link. 
 * The reverse will not trigger these styles.
 */
.notion-link:has([class*='_background']) {
  border-color: transparent;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-flex;
  width: unset;
  box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px inset,
    rgb(15 15 15 / 10%) 0px 1px 2px;
}
.notion-link:has([class*='_background']):hover {
  border: 1px solid transparent;
  background-image: none;
}
.notion-link:has([class*='_background']):hover span[class*='_background'] {
  filter: saturate(0.65);
}
.notion-link:has([class*='_background']) span[class*='_background'] {
  margin: 0;
  padding: 0.3rem 0.6rem;
  color: #fff;
}
.notion-link:has([class*='_background']) span.notion-red_background {
  background-color: var(--notion-red);
}
.notion-link:has([class*='_background']) span.notion-pink_background {
  background-color: var(--notion-pink);
}
.notion-link:has([class*='_background']) span.notion-blue_background {
  background-color: var(--notion-blue);
}
.notion-link:has([class*='_background']) span.notion-purple_background {
  background-color: var(--notion-purple);
}
.notion-link:has([class*='_background']) span.notion-teal_background {
  background-color: var(--notion-teal);
}
.notion-link:has([class*='_background']) span.notion-yellow_background {
  background-color: var(--notion-yellow);
}
.notion-link:has([class*='_background']) span.notion-orange_background {
  background-color: var(--notion-orange);
}
.notion-link:has([class*='_background']) span.notion-brown_background {
  background-color: var(--notion-brown);
}
.notion-link:has([class*='_background']) span.notion-gray_background {
  background-color: var(--notion-gray);
}

/**
 * By default, the theme in notion.css disables highlighting in dark mode.
 * I've commented that code out in notion.css, and revised styles here.
*/
.dark-mode .notion-red_background,
.dark-mode .notion-pink_background,
.dark-mode .notion-blue_background,
.dark-mode .notion-purple_background,
.dark-mode .notion-teal_background,
.dark-mode .notion-yellow_background,
.dark-mode .notion-orange_background,
.dark-mode .notion-brown_background,
.dark-mode .notion-gray_background {
  color: #fff;
}

/**
 * Revise default highlighting styles -- away from the gradient syle
 */
span[class*='_background'] {
  background-image: none;
  border-radius: 4px;
  padding: unset;
  margin: unset;
}
.notion-red_background {
  background-color: var(--notion-red_background);
}
.notion-pink_background {
  background-color: var(--notion-pink_background);
}
.notion-blue_background {
  background-color: var(--notion-blue_background);
}
.notion-purple_background {
  background-color: var(--notion-purple_background);
}
.notion-teal_background {
  background-color: var(--notion-teal_background);
}
.notion-yellow_background {
  background-color: var(--notion-yellow_background);
}
.notion-orange_background {
  background-color: var(--notion-orange_background);
}
.notion-brown_background {
  background-color: var(--notion-brown_background);
}
.notion-gray_background {
  background-color: var(--notion-gray_background);
}

/**
 * Gracefully transition between dark mode and light mode
 */
* {
  transition: background 1s;
}

/**
 * Minor behavior changes in link hover
 */
.notion-link:focus,
.notion-link:hover {
  background-image: linear-gradient(
    90.68deg,
    var(--notion-blue) 0.26%,
    var(--notion-purple) 102.37%
  );
  transition-duration: 300ms;
  transition-property: inherit;
}

/**
 * Notion search bar styles
 */
.notion-search {
  border-radius: 6px /* prev: 3px */;
}

/**
 * Notion collection header hiding
 * Right now, notion-react-x doesn't support respecting the collection title hiding
 * As a workaround, we'll just hide all collection headers for now
 */
.notion-collection-header {
  display: none;
}

/**
 * Smaller titles
 */
.notion-gallery-grid .notion-page-title-text {
  font-size: 1.6em /* from 2em */;
}

/**
 * Smaller quote size
 */
.notion-quote {
  font-size: 1em /* from 1.2em */;
}

/**
 * Disable collection links if property is set (see NotionPage.tsx)
 * Also, hide default collection title icons when none is set
 */
.disable-collection-links .notion-page-link {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}
.disable-collection-links .notion-page-link .notion-page-title-text {
  border-bottom: none;
}

.disable-collection-links
  .notion-page-link
  .notion-page-icon-image:has(path[d='M16,1H4v28h22V11L16,1z M16,3.828L23.172,11H16V3.828z M24,27H6V3h8v10h10V27z M8,17h14v-2H8V17z M8,21h14v-2H8V21z M8,25h14v-2H8V25z']) {
  display: none;
}

/**
 * When we have a collection link within a collection item title, don't apply a second border bottom.
 */
.notion-page-title-text:has(a) {
  border-bottom: none;
}

/**
 * Personal footer
 */
.wustep-post-footer {
  width: 100%;
  margin-top: 1em;
  padding: 1.5em 0;
  border-top: 1px solid var(--fg-color-0);
  border-bottom: 1px solid var(--fg-color-0);

  display: flex;
  align-items: center;
}
.wustep-post-footer hr {
  margin-bottom: 1em;
}
.wustep-post-footer-left {
  flex: 0;
  margin-right: 1em;
}
.wustep-post-footer-left img {
  width: 64px;
  height: 64px;
}
.wustep-post-footer-content {
  flex: 1;
}
.wustep-post-footer-right {
  flex: 0;
  align-self: baseline;
}
.wustep-post-footer-content-author {
  font-weight: 600;
  font-size: 1.1em;
}

/**
 * By default, galleries make all the cards the same size.
 * This makes it so that they only fill for their row instead,
 * just on the main (index) page.
 */
.index-page .notion-gallery-grid {
  grid-auto-rows: unset /* prev: 1fr */;
}

/**
 * 404 styling
 */
.error-404 {
  text-align: center;
}
.error-404 .notion-link {
  margin-top: 1em;
}
